body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    position: relative; /* referencia para posicionar el label */
    width: 340px;       /* mismo ancho que la card */
    margin: 60px auto;  /* centrado en la página */
}

.character-label {
    position: absolute;          /* se posiciona respecto a card-wrapper */
    top: -20px;                  /* encima de la card */
    left: 50%;                   /* centrado horizontal */
    transform: translateX(-50%);
    background-color: rgba(16, 14, 14, 0.9);
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.character-card {
    width: 340px;
    border-radius: 22px;
    overflow: hidden;
    color: white;
    position: relative;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("https://images2.alphacoders.com/117/1177893.jpg");

    background-size: cover;       /* la imagen cubre toda la card */
    background-position: top;     /* empieza desde arriba */
}

/* Degradado encima de la imagen (solo oscurece abajo) */
.character-card::before {
    content: "";
    position: absolute;
    inset: 0; /* top, right, bottom, left = 0 */
    background-image: url("https://images2.alphacoders.com/117/1177893.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(12px) brightness(0.6); /* borroso y más oscuro */
    z-index: 0;
}

.character-card * {
    position: relative;
    z-index: 1;
    /* asegura que el texto esté encima del degradado */
}


.card-image {
    height: 300px;
    background-image: url("https://images2.alphacoders.com/117/1177893.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.card-image::after {
    content: "";
    position: absolute;
    inset: 0;
 /* degradado en los bordes que hace que se funda con el fondo */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
    pointer-events: none;
}

.card-content {
    padding: 20px;
}

/* Cabecera */
.card-header {
    margin-bottom: 12px;
}

.character-stats {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9); /* blanco con 90% de opacidad */
}

/* Secciones */
.card-body p,
.card-stats p,
.card-footer p {
    margin: 5px 0;
    opacity: 0.9;
}

.card-footer {
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
}